Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/prisma/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

dota add listacc command
  apps/parserv2/internal/commands/commands.go
  apps/parserv2/internal/commands/dota/dota.go
  apps/parserv2/internal/commands/dota/gamemodes.go
  apps/parserv2/internal/commands/dota/listacc_command.go
  apps/parserv2/internal/commands/dota/np_command.go
Due: none

upd
  apps/parserv2/internal/commands/dota/np_command.go
Due: none

upd
  libs/nats/package.json
Due: none

upd
  .vscode/settings.json
Due: none

add seed, add np
  .vscode/extensions.json
  .vscode/settings.json
  apps/parserv2/Taskfile.yml
  apps/parserv2/internal/commands/commands.go
  apps/parserv2/internal/commands/dota/dota.go
  apps/parserv2/internal/models/dota_matches.go
  libs/prisma/package.json
  libs/prisma/seed.ts
  package.json
  pnpm-lock.yaml
Due: publish-migrations

upd
  apps/parserv2/internal/commands/dota/dota.go
  apps/parserv2/internal/commands/dota/np_command.go
Due: none

rewrite from raw to gorm
  apps/parserv2/internal/commands/dota/dota.go
  apps/parserv2/internal/commands/dota/np_command.go
Due: none

upd
  apps/parserv2/internal/commands/commands.go
  apps/parserv2/internal/commands/dota/dota.go
  apps/parserv2/internal/commands/dota/wl_command.go
  apps/parserv2/internal/models/dota_matches_relation.go
  apps/parserv2/internal/models/dota_matches_results.go
Due: none

build(web): vue-i18n build optimizations
  apps/web/src/components/landing/layout/BurgerMenuButton.vue
  apps/web/src/components/landing/layout/Header.vue
  apps/web/src/components/landing/sections/FirstScreen.vue
  apps/web/vite.config.ts
  libs/ui/theme/index.js
Due: none

feat(web): mobile menu edits
  apps/web/src/assets/SmileBot.svg
  apps/web/src/components/BlurryBlob.vue
  apps/web/src/components/landing/layout/BurgerMenuButton.vue
  apps/web/src/components/landing/layout/Header.vue
  apps/web/src/components/landing/layout/MobileMenu.vue
  apps/web/src/components/landing/sections/FirstScreen.vue
Due: none

feat(web): nav menu universal component and refactoring locale logic
  apps/web/src/components/LangSelect/LangSelect.vue
  apps/web/src/components/landing/FeatureCard.vue
  apps/web/src/components/landing/PricingPlan.vue
  apps/web/src/components/landing/TeamMemberCard.vue
  apps/web/src/components/landing/layout/BurgerMenuButton.vue
  apps/web/src/components/landing/layout/Footer.vue
  apps/web/src/components/landing/layout/Header.vue
  apps/web/src/components/landing/layout/LandingLayout.vue
  apps/web/src/components/landing/layout/MobileMenu.vue
  apps/web/src/components/landing/layout/NavMenu.vue
  apps/web/src/components/landing/sections/FeaturesBlock.vue
  apps/web/src/components/landing/sections/FirstScreen.vue
  apps/web/src/components/landing/sections/IntegrationsBlock.vue
  apps/web/src/components/landing/sections/PricingBlock.vue
  apps/web/src/components/landing/sections/ReviewsBlock.vue
  apps/web/src/components/landing/sections/TeamBlock.vue
  apps/web/src/hooks/useLandingLocale.ts
  apps/web/src/hooks/useTranslation.ts
  apps/web/src/locales/index.ts
  apps/web/src/locales/landing/en.ts
  apps/web/src/locales/landing/interface.ts
  apps/web/src/locales/landing/ru.ts
  apps/web/src/pages/app/app.page.client.ts
  apps/web/src/pages/app/app.page.server.ts
  apps/web/src/pages/app/app.page.vue
  apps/web/src/pages/index/index.page.client.ts
  apps/web/src/pages/index/index.page.route.ts
  apps/web/src/pages/index/index.page.server.ts
  apps/web/src/stores/landing/header.ts
  apps/web/src/stores/landing/navMenu.ts
  apps/web/src/stores/locale.ts
  apps/web/src/types/locale.ts
  apps/web/src/types/pageContext.ts
Due: none

upd
  apps/parserv2/go.mod
  apps/parserv2/go.sum
  apps/parserv2/internal/commands/dota/addacc_command.go
  apps/parserv2/internal/commands/dota/delacc_command.go
  apps/parserv2/internal/commands/dota/wl_command.go
  apps/parserv2/internal/models/dota_matches_results.go
Due: none

finish WL
  apps/parserv2/internal/commands/dota/wl_command.go
Due: none

fix warnings
  apps/bots/src/libs/bot.ts
  apps/parserv2/internal/models/_prisma_migrations.go
  apps/parserv2/internal/models/bots.go
  apps/parserv2/internal/models/channels.go
  apps/parserv2/internal/models/channels_commands.go
  apps/parserv2/internal/models/channels_commands_responses.go
  apps/parserv2/internal/models/channels_commands_usages.go
  apps/parserv2/internal/models/channels_customvars.go
  apps/parserv2/internal/models/channels_dashboard_access.go
  apps/parserv2/internal/models/channels_dota_accounts.go
  apps/parserv2/internal/models/channels_greetings.go
  apps/parserv2/internal/models/channels_integrations.go
  apps/parserv2/internal/models/channels_keywords.go
  apps/parserv2/internal/models/channels_moderation_settings.go
  apps/parserv2/internal/models/channels_permits.go
  apps/parserv2/internal/models/channels_timers.go
  apps/parserv2/internal/models/dota_game_modes.go
  apps/parserv2/internal/models/dota_heroes.go
  apps/parserv2/internal/models/dota_matches.go
  apps/parserv2/internal/models/dota_matches_cards.go
  apps/parserv2/internal/models/dota_matches_results.go
  apps/parserv2/internal/models/dota_medals.go
  apps/parserv2/internal/models/integrations.go
  apps/parserv2/internal/models/notifications.go
  apps/parserv2/internal/models/notifications_messages.go
  apps/parserv2/internal/models/tokens.go
  apps/parserv2/internal/models/users.go
  apps/parserv2/internal/models/users_files.go
  apps/parserv2/internal/models/users_stats.go
  apps/parserv2/internal/models/users_viewed_notifications.go
Due: publish-bots

add lg
  apps/parserv2/internal/commands/commands.go
  apps/parserv2/internal/commands/dota/dota.go
  apps/parserv2/internal/commands/dota/lg_command.go
  apps/parserv2/internal/commands/dota/wl_command.go
Due: none

correct lg command
  apps/parserv2/internal/commands/dota/dota.go
  apps/parserv2/internal/commands/dota/heroes.go
  apps/parserv2/internal/commands/dota/lg_command.go
Due: none

correct wl
  apps/parserv2/cmd/main.go
  apps/parserv2/internal/commands/dota/wl_command.go
Due: none

upd
  apps/dota/package.json
  apps/dota/src/app.controller.ts
  apps/dota/src/app.service.ts
  apps/dota/src/index.ts
  apps/dota/src/libs/nats.ts
  apps/parserv2/go.mod
  apps/parserv2/internal/commands/commands.go
  apps/parserv2/internal/commands/dota/dota.go
  apps/parserv2/internal/commands/dota/gm_command.go
  apps/parserv2/internal/commands/dota/lg_command.go
  apps/parserv2/internal/models/dota_matches_cards.go
  apps/parserv2/internal/models/dota_matches_relation.go
  libs/nats/.gitignore
  libs/nats/gen.ts
  libs/nats/package.json
  libs/nats/protos/dota.proto
  libs/nats/tsconfig.json
  pnpm-lock.yaml
Due: publish-dota

fix(web): NavMenu locale change
  apps/web/src/components/landing/layout/LandingLayout.vue
  apps/web/src/components/landing/layout/NavMenu.vue
  apps/web/src/stores/landing/navMenu.ts
  apps/web/src/styles/tailwind.base.css
Due: none

finish gm
  .vscode/settings.json
  apps/parserv2/cmd/main.go
  apps/parserv2/go.mod
  apps/parserv2/go.sum
  apps/parserv2/internal/commands/dota/dota.go
  apps/parserv2/internal/commands/dota/gm_command.go
  apps/parserv2/internal/commands/dota/medals.go
  apps/parserv2/internal/config/cfg/config.go
  apps/parserv2/internal/handlers/nats/commandsProcess.go
  apps/parserv2/internal/models/dota_matches_relation.go
Due: none

add new eval microservice
  apps/eval/package.json
  apps/eval/src/index.ts
  apps/eval/tsconfig.json
  apps/parserv2/go.mod
  apps/parserv2/internal/variables/customvar/customvar.go
  ecosystem.config.cjs
  libs/nats/.gitignore
  libs/nats/dota/go.mod
  libs/nats/eval/eval.pb.go
  libs/nats/eval/eval.ts
  libs/nats/eval/go.mod
  libs/nats/package.json
  libs/nats/protos/eval.proto
  package.json
  pnpm-lock.yaml
Due: none

upd
  apps/api/src/v1/variables/variables.service.ts
  apps/bots/src/libs/bot.ts
  apps/bots/src/libs/nats.ts
  apps/bots/src/nest/cacher/cacher.service.ts
  apps/eval/nodemon.json
  apps/eval/package.json
  apps/eval/src/index.ts
  apps/parserv2/cmd/main.go
  apps/parserv2/internal/commands/commands.go
  apps/parserv2/internal/commands/dota/gm_command.go
  apps/parserv2/internal/variables/customvar/customvar.go
  apps/parserv2/internal/variables/variables.go
  apps/parserv2/internal/variablescache/variablescache.go
Due: publish-api, publish-bots

upd
  apps/api/Dockerfile
  apps/bots/Dockerfile
  apps/dota/Dockerfile
  apps/parserv2/cmd/main.go
  apps/scheduler/Dockerfile
Due: publish-api, publish-bots, publish-dota, publish-scheduler

upd
  .dockerignore
  apps/parser/Dockerfile
Due: publish-parser

upd
  apps/parser/Dockerfile
  apps/parser/cmd/main.go
Due: publish-parser

fix dockerfile
  apps/parser/Dockerfile
Due: publish-parser

add sentry
  apps/parser/cmd/main.go
  apps/parser/go.mod
  apps/parser/go.sum
  apps/parser/internal/config/cfg/config.go
Due: publish-parser

feat(web): responsive absolute images and png blobs
  apps/web/src/assets/Lighting.svg
  apps/web/src/assets/blob-blue.png
  apps/web/src/assets/blob-cyan.png
  apps/web/src/assets/blob-pink.png
  apps/web/src/assets/blob-purple.png
  apps/web/src/components/BlurryBlob.vue
  apps/web/src/components/landing/sections/FirstScreen.vue
  apps/web/src/components/landing/sections/PricingBlock.vue
  apps/web/src/components/landing/sections/ReviewsBlock.vue
Due: none

chore(web): remove unused BlurryBlob component
  apps/web/src/components/BlurryBlob.vue
Due: none

fixes
  apps/api/src/v1/integrations/faceit/faceit.controller.ts
  apps/parser/internal/integrations/vk/vk.go
  apps/parser/internal/variables/faceit/elo/elo.go
  apps/parser/internal/variables/faceit/elodiff/elodiff.go
  apps/parser/internal/variables/faceit/lvl/lvl.go
  apps/parser/internal/variables/random/random.go
  apps/parser/internal/variables/song/song.go
  apps/parser/internal/variables/stream/stream.go
  apps/parser/internal/variables/variables.go
  apps/parser/internal/variablescache/faceit.go
  apps/parser/internal/variablescache/integrations.go
  ecosystem.config.cjs
  libs/nats/eval/eval.pb.go
  pnpm-lock.yaml
Due: publish-api, publish-parser

add param to followage
  apps/parser/internal/variables/user/followage/followage.go
  apps/parser/internal/variablescache/followage.go
Due: publish-parser

add param to age
  apps/parser/internal/variables/user/age/age.go
Due: publish-parser

upd drone
  .drone.yml
  apps/parser/Dockerfile
Due: publish-parser

chore: possible fix path
  .drone.yml
Due: none

chore: temporary comment paths
  .drone.yml
Due: none

chore: possible fix of go paths
  .drone.yml
Due: none

feat(web): translation for team roles and refactoring
  apps/web/package.json
  apps/web/src/components/LangSelect/LangSelectOption.vue
  apps/web/src/components/landing/PricingPlan.vue
  apps/web/src/components/landing/ReviewsSlider.vue
  apps/web/src/components/landing/TeamMemberCard.vue
  apps/web/src/components/landing/layout/Footer.vue
  apps/web/src/components/landing/layout/LandingLayout.vue
  apps/web/src/components/landing/layout/NavMenu.vue
  apps/web/src/components/landing/sections/FeaturesSection.vue
  apps/web/src/components/landing/sections/HeroSection.vue
  apps/web/src/components/landing/sections/IntegrationsSection.vue
  apps/web/src/components/landing/sections/PricingSection.vue
  apps/web/src/components/landing/sections/ReviewsSection.vue
  apps/web/src/components/landing/sections/StatInfoSection.vue
  apps/web/src/components/landing/sections/TeamSection.vue
  apps/web/src/data/index.ts
  apps/web/src/data/landing/botFeatures.ts
  apps/web/src/data/landing/navMenu.ts
  apps/web/src/data/landing/pricingPlans.ts
  apps/web/src/data/landing/reviews.ts
  apps/web/src/data/landing/socialMedia.ts
  apps/web/src/data/landing/statInfo.ts
  apps/web/src/data/landing/team.ts
  apps/web/src/data/pricingPlans.ts
  apps/web/src/data/seo.ts
  apps/web/src/locales/landing/en.ts
  apps/web/src/locales/landing/interface.ts
  apps/web/src/locales/landing/ru.ts
  apps/web/src/pages/index/index.page.vue
  apps/web/src/types/review.ts
  apps/web/src/types/statsLine.ts
  apps/web/src/types/teamMember.ts
  pnpm-lock.yaml
Due: none

fix: correctly take nats url and add eval microservice
  .drone.yml
  .gitignore
  apps/eval/Dockerfile
  apps/parser/cmd/main.go
  apps/parser/internal/config/nats/nats.go
  apps/parser/internal/variables/song/song.go
Due: publish-parser

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/prisma/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
