Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/prisma/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

fix(parser): fix random variable
  apps/parser/internal/variables/random/random.go
Due: publish-parser

chore: add missed eval to compose example
  docker-compose.example.yml
Due: none

fix: add missed start script for eval
  package.json
Due: none

feat(parser): add missed parseResponses listener
  apps/bots/src/libs/bot.ts
  apps/parser/cmd/main.go
  apps/parser/internal/handlers/nats/commandsProcess.go
  apps/parser/internal/handlers/nats/nats.go
  apps/parser/internal/handlers/nats/parseResponse.go
  libs/nats/protos/parser.proto
Due: publish-bots, publish-parser

feat(eval): add lodash
  apps/api/src/v1/bot/bot.service.ts
  apps/eval/package.json
  apps/eval/src/index.ts
  pnpm-lock.yaml
Due: publish-api

feat(web): responsive hero section and footer
  apps/web/package.json
  apps/web/src/components/landing/layout/Footer.vue
  apps/web/src/components/landing/sections/HeroSection.vue
Due: none

fix(eval): add missed lodash
  apps/eval/Dockerfile
  apps/eval/src/index.ts
Due: none

fix(parser): correctly split load through instances
  apps/parser/cmd/main.go
Due: publish-parser

chore: fix step name for eval
  .drone.yml
Due: none

fix: do not refresh page on the wrong refresh try
  apps/api/src/auth/auth.controller.ts
  apps/frontend/src/functions/refreshAccessToken.ts
Due: publish-api

chore(frontend): do not error on invalid token
  apps/frontend/src/functions/refreshAccessToken.ts
  apps/frontend/src/plugins/api.ts
Due: none

feat(web): responsive stats line
  apps/web/src/components/ClientOnly.vue
  apps/web/src/components/landing/StatsItem.vue
  apps/web/src/components/landing/sections/HeroSection.vue
  apps/web/src/components/landing/sections/StatInfoSection.vue
Due: none

feat(bots): add function for gettings channels array on start/reconnect
  apps/bots/src/bots.ts
  apps/bots/src/libs/bot.ts
  apps/bots/src/typings/index.d.ts
Due: publish-bots

chore: remove build cache from drone
  .drone.yml
Due: none

chore: fix drone file syntax
  .drone.yml
Due: none

chore: fix drone file
  .drone.yml
Due: none

chore(nats): add eval files to gitignore
  libs/nats/.gitignore
  libs/nats/eval/eval.pb.go
  libs/nats/eval/eval.ts
  pnpm-lock.yaml
Due: none

feat(web): integrations section animation for card background
  apps/web/src/components/landing/FeatureCard.vue
  apps/web/src/components/landing/layout/Header.vue
  apps/web/src/components/landing/sections/FeaturesSection.vue
  apps/web/src/components/landing/sections/IntegrationsSection.vue
Due: none

chore(web): accessibility and seo optimizations
  apps/web/src/components/landing/FeatureCard.vue
  apps/web/src/components/landing/PricingPlan.vue
  apps/web/src/components/landing/StatsItem.vue
  apps/web/src/components/landing/layout/BurgerMenuButton.vue
  apps/web/src/components/landing/layout/Footer.vue
  apps/web/src/components/landing/layout/Header.vue
  apps/web/src/components/landing/sections/FeaturesSection.vue
  apps/web/src/components/landing/sections/HeroSection.vue
  apps/web/src/components/landing/sections/ReviewsSection.vue
  apps/web/src/components/landing/sections/StatInfoSection.vue
  apps/web/src/pages/index/index.page.client.ts
Due: none

refactor(web): hook useFollowingBgImage and css utils
  apps/web/src/components/landing/FeatureCard.vue
  apps/web/src/components/landing/ReviewCard.vue
  apps/web/src/components/landing/TeamMemberCard.vue
  apps/web/src/components/landing/layout/MobileMenu.vue
  apps/web/src/components/landing/sections/FeaturesSection.vue
  apps/web/src/components/landing/sections/HeroSection.vue
  apps/web/src/components/landing/sections/PricingSection.vue
  apps/web/src/components/landing/sections/ReviewsSection.vue
  apps/web/src/hooks/useFollowingBgImage.ts
  apps/web/src/utils/css.ts
  libs/ui/theme/index.js
Due: none

feat(web): responsive FeaturesSection
  apps/web/src/components/landing/FeatureCard.vue
  apps/web/src/components/landing/FeatureCardBgBlob.vue
  apps/web/src/components/landing/sections/FeaturesSection.vue
  apps/web/src/components/landing/sections/HeroSection.vue
  apps/web/src/components/landing/sections/StatInfoSection.vue
  libs/ui/theme/index.js
Due: none

fix(parser): use utc time for followage, uptime, age
  apps/parser/internal/variables/stream/uptime/uptime.go
  apps/parser/internal/variables/user/age/age.go
  apps/parser/internal/variables/user/followage/followage.go
  apps/parser/pkg/helpers/duration.go
Due: publish-parser

fix(web): max breakpoints and FeaturesSection md size paddings
  apps/web/src/components/landing/sections/FeaturesSection.vue
  libs/ui/theme/index.js
Due: none

initial commit
  libs/typeorm/package.json
  libs/typeorm/src/entities/Bot.ts
  libs/typeorm/src/entities/Channel.ts
  libs/typeorm/src/entities/ChannelCommand.ts
  libs/typeorm/src/entities/ChannelCustomvar.ts
  libs/typeorm/src/entities/ChannelDotaAccount.ts
  libs/typeorm/src/entities/ChannelGreeting.ts
  libs/typeorm/src/entities/ChannelIntegration.ts
  libs/typeorm/src/entities/ChannelKeyword.ts
  libs/typeorm/src/entities/ChannelModerationSetting.ts
  libs/typeorm/src/entities/ChannelPermit.ts
  libs/typeorm/src/entities/ChannelTimer.ts
  libs/typeorm/src/entities/CommandResponse.ts
  libs/typeorm/src/entities/CommandUsage.ts
  libs/typeorm/src/entities/DashboardAccess.ts
  libs/typeorm/src/entities/DotaGameMode.ts
  libs/typeorm/src/entities/DotaHero.ts
  libs/typeorm/src/entities/DotaMatch.ts
  libs/typeorm/src/entities/DotaMatchCard.ts
  libs/typeorm/src/entities/DotaMatchResult.ts
  libs/typeorm/src/entities/DotaMedal.ts
  libs/typeorm/src/entities/Integration.ts
  libs/typeorm/src/entities/Notification.ts
  libs/typeorm/src/entities/NotificationMessage.ts
  libs/typeorm/src/entities/Token.ts
  libs/typeorm/src/entities/User.ts
  libs/typeorm/src/entities/UserFile.ts
  libs/typeorm/src/entities/UserStats.ts
  libs/typeorm/src/entities/UserViewedNotification.ts
  libs/typeorm/src/index.ts
  libs/typeorm/tsconfig.json
  pnpm-lock.yaml
Due: none

typeorm update
  libs/typeorm/src/entities/Bot.ts
  libs/typeorm/src/entities/Channel.ts
  libs/typeorm/src/entities/ChannelCommand.ts
  libs/typeorm/src/entities/ChannelCustomvar.ts
  libs/typeorm/src/entities/ChannelDotaAccount.ts
  libs/typeorm/src/entities/ChannelGreeting.ts
  libs/typeorm/src/entities/ChannelIntegration.ts
  libs/typeorm/src/entities/ChannelKeyword.ts
  libs/typeorm/src/entities/ChannelModerationSetting.ts
  libs/typeorm/src/entities/ChannelPermit.ts
  libs/typeorm/src/entities/ChannelTimer.ts
  libs/typeorm/src/entities/CommandResponse.ts
  libs/typeorm/src/entities/CommandUsage.ts
  libs/typeorm/src/entities/DashboardAccess.ts
  libs/typeorm/src/entities/DotaGameMode.ts
  libs/typeorm/src/entities/DotaHero.ts
  libs/typeorm/src/entities/DotaMatch.ts
  libs/typeorm/src/entities/DotaMatchCard.ts
  libs/typeorm/src/entities/DotaMatchResult.ts
  libs/typeorm/src/entities/DotaMedal.ts
  libs/typeorm/src/entities/Integration.ts
  libs/typeorm/src/entities/Notification.ts
  libs/typeorm/src/entities/NotificationMessage.ts
  libs/typeorm/src/entities/Token.ts
  libs/typeorm/src/entities/User.ts
  libs/typeorm/src/entities/UserFile.ts
  libs/typeorm/src/entities/UserStats.ts
  libs/typeorm/src/entities/UserViewedNotification.ts
  libs/typeorm/src/migrations/1663336799069-inital.ts
  libs/typeorm/src/migrations/1663337758845-migrate_to_typeorm.ts
Due: none

feat(web): responsive IntegrationSection
  apps/web/src/components/landing/sections/IntegrationsSection.vue
Due: none

fix(web): fix some styles for sections
  apps/web/src/components/landing/sections/FeaturesSection.vue
  apps/web/src/components/landing/sections/IntegrationsSection.vue
Due: none

greeting, files
  apps/api/src/v1/files/files.service.ts
  apps/api/src/v1/greetings/greetings.service.ts
Due: publish-api

faceit integration
  apps/api/src/v1/integrations/faceit/faceit.service.ts
  libs/typeorm/src/entities/ChannelIntegration.ts
Due: publish-api

update spotify integration
  apps/api/src/v1/integrations/faceit/faceit.service.ts
  apps/api/src/v1/integrations/lastfm/lastfm.service.ts
  apps/api/src/v1/integrations/spotify/spotify.service.ts
  libs/integrations/spotify/package.json
  libs/integrations/spotify/src/lib/user.ts
  pnpm-lock.yaml
Due: publish-api

vk migration done
  apps/api/src/v1/integrations/vk/vk.service.ts
Due: publish-api

keywords done
  apps/api/src/v1/keywords/keywords.service.ts
Due: publish-api

moderation settings
  apps/api/src/v1/moderation/moderation.service.ts
Due: publish-api

done notifications
  apps/api/src/v1/notifications/notifications.service.ts
  libs/typeorm/src/entities/Notification.ts
Due: publish-api

done dashboard access
  apps/api/src/v1/settings/dashboard-access/dashboard-access.service.ts
Due: publish-api

done timers
  apps/api/src/v1/timers/timers.service.ts
Due: publish-api

update customvariables
  apps/api/src/v1/variables/dto/create.ts
  apps/api/src/v1/variables/variables.service.ts
Due: publish-api

eventsub, scheduler
  apps/eventsub/package.json
  apps/eventsub/src/eventsub/eventsub.service.ts
  apps/eventsub/src/handler/handler.service.ts
  apps/eventsub/src/index.ts
  apps/scheduler/package.json
  apps/scheduler/src/default-commands-creator/default-commands-creator.service.ts
  apps/scheduler/src/index.ts
  pnpm-lock.yaml
Due: publish-eventsub, publish-scheduler

done scheduler
  apps/scheduler/src/dota/dota.service.ts
  apps/scheduler/src/streamstatus/statuschecker.service.ts
Due: publish-scheduler

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/prisma/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
