Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/prisma/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

feat(web): responsive ReviewsSection
  apps/web/src/components/landing/ReviewsSlider.vue
  apps/web/src/components/landing/sections/IntegrationsSection.vue
  apps/web/src/components/landing/sections/ReviewsSection.vue
Due: none

upd bots
  apps/bots/package.json
  apps/bots/src/bots.ts
  apps/bots/src/functions/increaseUserMessages.ts
  apps/bots/src/index.ts
  apps/bots/src/libs/prisma.ts
  apps/bots/src/libs/typeorm.ts
  pnpm-lock.yaml
Due: publish-bots

moderation
  apps/bots/src/integrations/faceit.ts
  apps/bots/src/integrations/lastfm.ts
  apps/bots/src/integrations/spotify.ts
  apps/bots/src/integrations/vk.ts
  apps/bots/src/libs/keywordsParser.ts
  apps/bots/src/libs/moderationParser.ts
  libs/typeorm/src/entities/ChannelModerationSetting.ts
  libs/typeorm/src/migrations/1663337758845-migrate_to_typeorm.ts
Due: publish-bots

fix(web): delete unused astro favicon and fix some styles
  apps/web/public/favicon.ico
  apps/web/src/components/landing/sections/FeaturesSection.vue
  apps/web/src/components/landing/sections/IntegrationsSection.vue
  apps/web/src/components/landing/sections/ReviewsSection.vue
Due: none

fix(web): IntegrationSection paddings
  apps/web/src/components/landing/sections/IntegrationsSection.vue
Due: none

feat(web): responsive TeamSection
  apps/web/src/components/landing/TeamMemberCard.vue
  apps/web/src/components/landing/sections/TeamSection.vue
Due: none

finish bots
  apps/bots/src/libs/nats.ts
  apps/bots/src/libs/timers.ts
  apps/bots/src/nest/app.controller.ts
  apps/bots/src/nest/cacher/cacher.service.ts
  apps/bots/src/nest/timers/timers.service.ts
  apps/bots/tests/moderation/__mocks__/index.mock.ts
  apps/bots/tests/moderation/links.ts
  apps/parser/internal/models/channels_commands.go
Due: publish-bots, publish-parser

finish?
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/v1/integrations/spotify/integration.ts
  apps/api/src/v1/moderation/moderation.service.ts
  apps/bots/package.json
  apps/dota/package.json
  apps/dota/src/app.module.ts
  apps/dota/src/app.service.ts
  apps/dota/src/index.ts
  apps/dota/src/libs/typeorm.ts
  apps/eventsub/package.json
  apps/eventsub/src/app.module.ts
  apps/parser/internal/models/channels_moderation_settings.go
  apps/scheduler/package.json
  apps/scheduler/src/app.module.ts
  apps/streamstatus/package.json
  apps/streamstatus/src/app.module.ts
  apps/streamstatus/src/app.service.ts
  apps/streamstatus/src/index.ts
  libs/integrations/spotify/package.json
  libs/integrations/spotify/src/lib/integration.ts
  libs/shared/package.json
  libs/shared/src/lib/dto/ModerationUpdateDto.ts
  libs/shared/src/lib/nats.ts
  libs/shared/src/lib/typings.ts
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-parser, publish-scheduler, publish-streamstatus

upd
  libs/typeorm/src/entities/Notification.ts
  libs/typeorm/src/migrations/1663342405491-add_missed_uuid.ts
  libs/typeorm/src/o/1663426712822-migrate_to_typeorm.ts
Due: none

upd
  apps/api/src/v1/moderation/moderation.service.ts
  apps/dota/src/app.service.ts
  libs/prisma/Dockerfile
  libs/prisma/package.json
  libs/prisma/prisma/migrations/20220607113901_initial/migration.sql
  libs/prisma/prisma/migrations/20220607132157_refactor_cascades/migration.sql
  libs/prisma/prisma/migrations/20220609155754_make_optional_moderation_settings/migration.sql
  libs/prisma/prisma/migrations/20220609161310_remove_unique_channel_id_from_settings/migration.sql
  libs/prisma/prisma/migrations/20220612151257_add_default_commands/migration.sql
  libs/prisma/prisma/migrations/20220615141926_commands_unique_name_channelid/migration.sql
  libs/prisma/prisma/migrations/20220615142414_timers_last_trigger_message_number/migration.sql
  libs/prisma/prisma/migrations/20220623220235_add_donationalerts/migration.sql
  libs/prisma/prisma/migrations/20220627174554_add_is_bot_admin_column_to_users/migration.sql
  libs/prisma/prisma/migrations/20220627193549_add_notifications/migration.sql
  libs/prisma/prisma/migrations/20220701160351_add_notification_message/migration.sql
  libs/prisma/prisma/migrations/20220701161523_add_missed_relation_to_notification_s/migration.sql
  libs/prisma/prisma/migrations/20220711134659_add_dota_integration/migration.sql
  libs/prisma/prisma/migrations/20220711183727_add_files/migration.sql
  libs/prisma/prisma/migrations/20220714121225_add_dota_match_result/migration.sql
  libs/prisma/prisma/migrations/20220719133411_add_dota_match_profile_card/migration.sql
  libs/prisma/prisma/migrations/20220719134002_make_card_fields_optional/migration.sql
  libs/prisma/prisma/migrations/20220722122053_timers_interval_to_minutes/migration.sql
  libs/prisma/prisma/migrations/20220725143536_add_command_module/migration.sql
  libs/prisma/prisma/migrations/20220901194523_add_pk_for_dota_account/migration.sql
  libs/prisma/prisma/migrations/migration_lock.toml
  libs/prisma/prisma/schema.prisma
  libs/prisma/seed.ts
  libs/prisma/src/index.ts
  libs/prisma/src/lib/prisma.module.ts
  libs/prisma/src/lib/prisma.service.ts
  libs/prisma/tsconfig.json
  libs/typeorm/src/entities/ChannelCommand.ts
  libs/typeorm/src/entities/DotaMatch.ts
  libs/typeorm/src/migrations/1663432352856-initial.ts
  libs/typeorm/src/migrations/1663432364723-initial2.ts
  libs/typeorm/src/migrations/1663433120025-nullable_lobby_type.ts
  libs/typeorm/src/o/1663336799069-inital.ts
  libs/typeorm/src/o/1663343974342-change_aliases_type.ts
Due: publish-api, publish-dota, publish-migrations

upd
  apps/api/package.json
  apps/api/src/auth/auth.service.ts
  apps/api/src/v1/commands/commands.service.ts
  apps/bots/src/libs/bot.ts
  apps/bots/src/libs/moderationParser.ts
  apps/bots/src/libs/timers.ts
  libs/redis/package.json
  libs/redis/src/schemas/customvar.ts
  libs/typeorm/src/entities/ChannelCommand.ts
  libs/typeorm/src/index.ts
  libs/typeorm/src/migrations/1663433120026-change_aliases_type.ts
  libs/typeorm/src/o/1663336799069-inital.ts
  libs/typeorm/src/o/1663426712822-migrate_to_typeorm.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: publish-api, publish-bots

feat(web): responsive PricingSection
  apps/web/src/components/landing/PricingPlan.vue
  apps/web/src/components/landing/layout/MobileMenu.vue
  apps/web/src/components/landing/sections/HeroSection.vue
  apps/web/src/components/landing/sections/PricingSection.vue
  libs/ui/theme/index.js
Due: none

upd
  libs/typeorm/src/migrations/1663433121226-change_aliases_type.ts
Due: none

upd
  .drone.yml
  libs/typeorm/Dockerfile
  libs/typeorm/package.json
  package.json
Due: none

upd
  apps/api/Dockerfile
  apps/bots/Dockerfile
  apps/dota/Dockerfile
  apps/dota/src/app.service.ts
  apps/eval/Dockerfile
  apps/eventsub/Dockerfile
  apps/scheduler/Dockerfile
  apps/streamstatus/Dockerfile
  libs/typeorm/Dockerfile
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-scheduler, publish-streamstatus, publish-eval

fix notifications
  apps/api/src/v1/notifications/notifications.service.ts
Due: publish-api

chore: maintain lockfile
  apps/frontend/package.json
  pnpm-lock.yaml
Due: none

Add dev env
  .dockerignore
  .gitignore
  Dockerfile.dev
  docker-compose.dev.yml
  package.json
Due: none

upd
  libs/typeorm/package.json
  libs/typeorm/seed.ts
  package.json
Due: none

upd
  Dockerfile.dev
  docker-compose.dev.yml
  libs/typeorm/package.json
  libs/typeorm/seed.ts
  libs/typeorm/src/index.ts
  package.json
  pnpm-lock.yaml
Due: none

upd
  docker-compose.dev.yml
  libs/typeorm/seed.ts
  package.json
Due: none

upd
  Dockerfile.dev
  apps/parser/nodemon.json
  ecosystem.config.cjs
  package.json
Due: publish-parser

upd
  Dockerfile.dev
  Makefile
  apps/parser/go.mod
  apps/parser/go.sum
  apps/parser/nodemon.json
  docker-compose.dev.yml
  package.json
Due: publish-parser

upd
  Dockerfile.dev
  apps/frontend/vite.config.ts
  docker-compose.dev.yml
Due: none

upd
  Dockerfile.dev
Due: none

upd
  README.md
Due: none

add readme
  README.md
Due: none

entrypoint
  .dockerignore
  .gitignore
  Dockerfile.dev
  docker-compose.dev.yml
  start.dev.sh
Due: none

upd
  apps/api/Dockerfile
Due: publish-api

chore: add dev env (#129)
  .dockerignore
  .gitignore
  Dockerfile.dev
  Makefile
  README.md
  apps/api/Dockerfile
  apps/frontend/vite.config.ts
  apps/parser/go.mod
  apps/parser/go.sum
  apps/parser/nodemon.json
  docker-compose.dev.yml
  ecosystem.config.cjs
  libs/typeorm/package.json
  libs/typeorm/seed.ts
  libs/typeorm/src/index.ts
  package.json
  pnpm-lock.yaml
  start.dev.sh
Due: publish-api, publish-parser

fix: remove external in tsuwari_dev network
  docker-compose.dev.yml
Due: none

feat(parser): add commands for create/edit/del commands
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/manage/add_command.go
  apps/parser/internal/commands/manage/del_command.go
  apps/parser/internal/commands/manage/edit_command.go
  apps/parser/internal/commands/manage/manage.go
  apps/parser/internal/models/channels_commands.go
  apps/parser/internal/models/channels_commands_responses.go
  docker-compose.dev.yml
  libs/typeorm/src/entities/ChannelCommand.ts
  libs/typeorm/src/migrations/1663772709230-new_command_type.ts
Due: publish-parser

feat(parser): add commands for create/edit/del commands (#130)
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/manage/add_command.go
  apps/parser/internal/commands/manage/del_command.go
  apps/parser/internal/commands/manage/edit_command.go
  apps/parser/internal/commands/manage/manage.go
  apps/parser/internal/models/channels_commands.go
  apps/parser/internal/models/channels_commands_responses.go
  docker-compose.dev.yml
  libs/typeorm/src/entities/ChannelCommand.ts
  libs/typeorm/src/migrations/1663772709230-new_command_type.ts
Due: publish-parser

chore: test github actions again
  .drone.yml.bak
  .github/workflows/docker-api.yml
  .github/workflows/docker-bots.yml
  .github/workflows/docker-dota.yml
  .github/workflows/docker-eval.yml
  .github/workflows/docker-eventsub.yml
  .github/workflows/docker-parser.yml
  .github/workflows/docker-scheduler.yml
  .github/workflows/docker-streamstatus.yml
  .github/workflows/renovate.yml
Due: none

chore: fix actions syntax
  .github/workflows/docker-api.yml
  .github/workflows/docker-bots.yml
  .github/workflows/docker-dota.yml
  .github/workflows/docker-eval.yml
  .github/workflows/docker-eventsub.yml
  .github/workflows/docker-scheduler.yml
  .github/workflows/docker-streamstatus.yml
Due: none

feat: add storing of channel follows events
  .github/workflows/docker-api.yml
  .github/workflows/docker-bots.yml
  .github/workflows/docker-dota.yml
  .github/workflows/docker-eval.yml
  .github/workflows/docker-eventsub.yml
  .github/workflows/docker-parser.yml
  .github/workflows/docker-scheduler.yml
  .github/workflows/docker-streamstatus.yml
  apps/eventsub/src/eventsub/eventsub.service.ts
  apps/eventsub/src/handler/handler.service.ts
  docker-compose.dev.yml
  libs/typeorm/generateMigration.ts
  libs/typeorm/package.json
  libs/typeorm/src/entities/Channel.ts
  libs/typeorm/src/entities/ChannelEvent.ts
  libs/typeorm/src/entities/channelEvents/Follow.ts
  libs/typeorm/src/index.ts
  libs/typeorm/src/migrations/1663778837670-add_channel_events.ts
Due: publish-eventsub

fix(migrations): add missed `createdAt` column to the events
  libs/typeorm/src/migrations/1663779404997-events_add_createdAt.ts
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/prisma/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
