Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.tsuwari.tk/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.tsuwari.tk/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.tsuwari.tk/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.tsuwari.tk/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.tsuwari.tk/tsuwari/migrations
    dockerfile: ./libs/prisma/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.tsuwari.tk/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.tsuwari.tk/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.tsuwari.tk/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

chore(dependency): update dependency postcss to v8.4.16 (#94)
  apps/frontend/package.json
Due: none

chore(dependency): update dependency @intlify/vite-plugin-vue-i18n to v6 (#93)
  apps/frontend/package.json
Due: none

chore(dependency): update dependency vue-tsc to v0.39.5 (#91)
  apps/frontend/package.json
Due: none

chore: maintain lockfile
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore: remove ircv3 override
  package.json
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

fix(dependency): update dependency vee-validate to v4.6.4
  apps/frontend/package.json
Due: none

chore(dependency): lock file maintenance
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore(dependency): update dependency tsx to v3.8.1
  package.json
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore(dependency): update typescript-eslint monorepo to v5.33.0
  package.json
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore(dependency): update renovatebot/github-action action to v32.152.0
  .github/workflows/renovate.yml
Due: none

fix(dependency): update dependency @twurple/api to v5.2.1
  apps/eventsub/package.json
  apps/frontend/package.json
  apps/parser/package.json
  apps/streamstatus/package.json
  libs/shared/package.json
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore(dependency): update renovatebot/github-action action to v32.152.0 (#95)
  .github/workflows/renovate.yml
Due: none

fix(dependency): update dependency vee-validate to v4.6.4 (#96)
  apps/frontend/package.json
Due: none

chore(dependency): update dependency tsx to v3.8.1 (#98)
  package.json
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore(dependency): update typescript-eslint monorepo to v5.33.0 (#99)
  package.json
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

fix(dependency): update dependency @twurple/api to v5.2.1 (#100)
  apps/eventsub/package.json
  apps/frontend/package.json
  apps/parser/package.json
  apps/streamstatus/package.json
  libs/shared/package.json
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

fix(dependency): update dependency @twurple/auth to v5.2.1
  apps/eventsub/package.json
  apps/parser/package.json
  apps/streamstatus/package.json
  libs/shared/package.json
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore: update compose example
  docker-compose.example.yml
Due: none

fix(dependency): update dependency @twurple/chat to v5.2.1
  apps/parser/package.json
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

fix(dependency): update dependency @twurple/common to v5.2.1
  apps/eventsub/package.json
  apps/frontend/package.json
  apps/parser/package.json
  apps/streamstatus/package.json
  libs/shared/package.json
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

fix(dependency): update dependency @twurple/eventsub to v5.2.1
  apps/eventsub/package.json
  libs/shared/package.json
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

feat(parser): init prometheus
  apps/parser/package.json
  apps/parser/src/app.controller.ts
  apps/parser/src/index.ts
  apps/parser/src/prom.ts
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore: maintain lockfile
  apps/parser/src/app.controller.ts
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

fix: correct rawdata for twurple user
  apps/parser/src/app.controller.ts
  libs/shared/src/lib/getCached.ts
  libs/shared/src/lib/twitch.ts
  libs/shared/src/lib/typings.ts
Due: publish-parser

chore: update twurple to 5.2.1
  apps/api/package.json
  apps/bots/package.json
  apps/eventsub/package.json
  apps/frontend/package.json
  apps/parser/package.json
  apps/parser/src/app.controller.ts
  apps/streamstatus/package.json
  libs/shared/package.json
  libs/shared/src/lib/getCached.ts
  libs/shared/src/lib/twitch.ts
  libs/shared/src/lib/typings.ts
  package.json
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

fix(dependency): pin dependencies
  apps/parser/package.json
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore(dependency): update dependency vitest to v0.21.1
  apps/bots/package.json
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore(dependency): update dependency vite to v3.0.5
  apps/frontend/package.json
Due: none

chore(dependency): update dependency vite to v3.0.5 (#107)
  apps/frontend/package.json
Due: none

chore(dependency): update dependency vitest to v0.21.1 (#106)
  apps/bots/package.json
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

fix(dependency): pin dependencies (#105)
  apps/parser/package.json
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore(dependency): update renovatebot/github-action action to v32.153.0
  .github/workflows/renovate.yml
Due: none

chore(dependency): update renovatebot/github-action action to v32.153.0 (#108)
  .github/workflows/renovate.yml
Due: none

chore(dependency): update dependency turbo to v1.4.3
  package.json
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

fix(frontend): exclude some externals from vite dev
  apps/frontend/vite.config.ts
Due: none

chore(dependency): update dependency @intlify/vite-plugin-vue-i18n to v6.0.1
  apps/frontend/package.json
Due: none

fix(dependency): update sentry-javascript monorepo to v7.10.0
  apps/parser/package.json
  apps/scheduler/package.json
  apps/streamstatus/package.json
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

feat(api): do not allow vulnerable scripts
  apps/api/src/v1/variables/dto/create.ts
  apps/api/src/v1/variables/variables.service.ts
Due: publish-api

Path conditions:
  publish-api: any of: package.json, pnpm-lock.yaml, apps/api/**/*
  publish-bots: any of: package.json, pnpm-lock.yamls, apps/bots/**/*
  publish-dota: any of: package.json, pnpm-lock.yaml, apps/dota/**/*
  publish-eventsub: any of: package.json, pnpm-lock.yaml, apps/eventsub/**/*
  publish-migrations: any of: package.json, pnpm-lock.yaml, libs/prisma/**/*
  publish-parser: any of: package.json, pnpm-lock.yaml, apps/parser/**/*
  publish-scheduler: any of: package.json, pnpm-lock.yaml, apps/scheduler/**/*
  publish-streamstatus: any of: package.json, pnpm-lock.yaml, apps/streamstatus/**/*
