Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

.drone.yml:

docker: &docker
  image: plugins/docker
  depends_on:
    - build

docker-settings: &docker-settings
  registry: 
    from_secret: docker_hub
  username:
    from_secret: docker_username
  password:
    from_secret: docker_password
  tags: latest

kind: pipeline
type: docker
name: default

platform:
  os: linux
  arch: arm64

trigger:
  branch:
    - main

steps:
  - name: restore-cache
    image: drillster/drone-volume-cache
    volumes:
      - name: cache
        path: /cache
    settings:
      restore: true
      mount:
        - ./node_modules

  - name: build
    image: node:18-slim
    commands: 
      - apt-get update
      - apt-get install curl wget git -y
      - npm i -g pnpm@7.5.0
      - pnpm install
      - pnpm build:backend
    depends_on:
      - restore-cache

  - name: rebuild-cache
    image: drillster/drone-volume-cache
    volumes:
      - name: cache
        path: /cache
    settings:
      rebuild: true
      mount:
        - ./node_modules
    depends_on:
      - build

  - <<: *docker
    name: publish-api
    settings:
      <<: *docker-settings
      repo: registry.tsuwari.tk/tsuwari/api
      dockerfile: ./apps/api/Dockerfile
      cache_from: registry.tsuwari.tk/tsuwari/api
    when:
      paths:
        include:
          - package.json
          - pnpm-lock.yaml
          - apps/api/**/*

  - <<: *docker
    name: publish-bots
    settings:
      <<: *docker-settings
      repo: registry.tsuwari.tk/tsuwari/bots
      dockerfile: ./apps/bots/Dockerfile
      cache_from: registry.tsuwari.tk/tsuwari/bots
    when:
      paths:
        include:
          - package.json
          - pnpm-lock.yamls
          - apps/bots/**/*

  - <<: *docker
    name: publish-dota
    settings:
      <<: *docker-settings
      repo: registry.tsuwari.tk/tsuwari/dota
      dockerfile: ./apps/dota/Dockerfile
      cache_from: registry.tsuwari.tk/tsuwari/dota
    when:
      paths:
        include:
          - package.json
          - pnpm-lock.yaml
          - apps/dota/**/*

  - <<: *docker
    name: publish-eventsub
    settings:
      <<: *docker-settings
      repo: registry.tsuwari.tk/tsuwari/eventsub
      dockerfile: ./apps/eventsub/Dockerfile
      cache_from: registry.tsuwari.tk/tsuwari/eventsub
    when:
      paths:
        include:
          - package.json
          - pnpm-lock.yaml
          - apps/eventsub/**/*

  - <<: *docker
    name: publish-migrations
    settings:
      <<: *docker-settings
      repo: registry.tsuwari.tk/tsuwari/migrations
      dockerfile: ./libs/prisma/Dockerfile
      cache_from: registry.tsuwari.tk/tsuwari/migrations
    when:
      paths:
        include:
          - package.json
          - pnpm-lock.yaml
          - libs/prisma/**/*

  - <<: *docker
    name: publish-parser
    settings:
      <<: *docker-settings
      repo: registry.tsuwari.tk/tsuwari/parser
      dockerfile: ./apps/parser/Dockerfile
      cache_from: registry.tsuwari.tk/tsuwari/parser
    when:
      paths:
        include:
          - package.json
          - pnpm-lock.yaml
          - apps/parser/**/*

  - <<: *docker
    name: publish-scheduler
    settings:
      <<: *docker-settings
      repo: registry.tsuwari.tk/tsuwari/scheduler
      dockerfile: ./apps/scheduler/Dockerfile
      cache_from: registry.tsuwari.tk/tsuwari/scheduler
    when:
      paths:
        include:
          - package.json
          - pnpm-lock.yaml
          - apps/scheduler/**/*

  - <<: *docker
    name: publish-streamstatus
    settings:
      <<: *docker-settings
      repo: registry.tsuwari.tk/tsuwari/streamstatus
      dockerfile: ./apps/streamstatus/Dockerfile
      cache_from: registry.tsuwari.tk/tsuwari/streamstatus
    when:
      paths:
        include:
          - package.json
          - pnpm-lock.yaml
          - apps/streamstatus/**/*

volumes:
  - name: cache
    host:
      path: /tmp/tsuwari-cache

chore(dependency): update dependency vue-tsc to v0.40.1
  apps/frontend/package.json
Due: none

chore(dependency): update renovatebot/github-action action to v32.154.7
  .github/workflows/renovate.yml
Due: none

feat(parser): add support for emotes variables of `7tv`, `bttv`, `ffz`
  apps/parser/src/variables/modules/emotes.ts
  apps/parser/src/variables/modules/index.ts
Due: publish-parser

chore: update compose config
  .gitignore
  docker-compose.example.yml
  package.json
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore: update compose file
  docker-compose.example.yml
Due: none

chore: update compose example
  docker-compose.example.yml
Due: none

chore: replace registry
  .drone.yml
Due: none

chore(drone): fix platform
  .drone.yml
Due: none

chore: uncomment drone paths
  .drone.yml
Due: none

fix(compose): use network for nats
  docker-compose.example.yml
Due: none

fix(dependency): update dependency @yeger/vue-masonry-wall to v3.0.45
  apps/frontend/package.json
Due: none

fix(dependency): update dependency @popperjs/core to v2.11.6
  apps/frontend/package.json
Due: none

chore(drone): exclude PRs from runs
  .drone.yml
Due: none

chore(dependency): update dependency turbo to v1.4.3 (#109)
  package.json
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore(dependency): update renovatebot/github-action action to v32.154.7 (#110)
  .github/workflows/renovate.yml
Due: none

chore(dependency): update dependency vue-tsc to v0.40.1 (#111)
  apps/frontend/package.json
Due: none

chore(dependency): update dependency @intlify/vite-plugin-vue-i18n to v6.0.1 (#112)
  apps/frontend/package.json
Due: none

fix(dependency): update sentry-javascript monorepo to v7.10.0 (#113)
  apps/parser/package.json
  apps/scheduler/package.json
  apps/streamstatus/package.json
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

fix(dependency): update dependency @yeger/vue-masonry-wall to v3.0.45 (#114)
  apps/frontend/package.json
Due: none

fix(dependency): update dependency @popperjs/core to v2.11.6 (#115)
  apps/frontend/package.json
Due: none

chore: maintain lockfile
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

fix(dependency): update nest monorepo to v9.0.9
  apps/dota/package.json
  apps/eventsub/package.json
  apps/parser/package.json
  apps/scheduler/package.json
  apps/streamstatus/package.json
  libs/redis/package.json
  libs/shared/package.json
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore(dependency): update dependency tsx to v3.8.2
  package.json
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

fix(dependency): update dependency vee-validate to v4.6.5
  apps/frontend/package.json
Due: none

chore(dependency): update dependency @vitejs/plugin-vue to v3.0.3
  apps/frontend/package.json
Due: none

chore(dependency): update dependency vite to v3.0.7
  apps/frontend/package.json
Due: none

chore(dependency): update renovatebot/github-action action to v32.159.0
  .github/workflows/renovate.yml
Due: none

fix(dependency): update nest monorepo to v9.0.9 (#116)
  apps/dota/package.json
  apps/eventsub/package.json
  apps/parser/package.json
  apps/scheduler/package.json
  apps/streamstatus/package.json
  libs/redis/package.json
  libs/shared/package.json
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore(dependency): update renovatebot/github-action action to v32.159.0 (#117)
  .github/workflows/renovate.yml
Due: none

chore(dependency): update dependency tsx to v3.8.2 (#118)
  package.json
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore(dependency): update dependency @vitejs/plugin-vue to v3.0.3 (#119)
  apps/frontend/package.json
Due: none

chore(dependency): update dependency vite to v3.0.7 (#120)
  apps/frontend/package.json
Due: none

fix(dependency): update dependency vee-validate to v4.6.5 (#121)
  apps/frontend/package.json
Due: none

chore: rewrite from socket to api
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/socket/socket.controller.ts
  apps/api/src/socket/socket.module.ts
  apps/api/src/socket/socket.service.ts
  apps/api/src/v1/bot/bot.controller.ts
  apps/api/src/v1/bot/bot.module.ts
  apps/api/src/v1/bot/bot.service.ts
  apps/api/src/v1/bot/dto/joinOrLeave.ts
  apps/api/src/v1/v1.module.ts
  apps/frontend/package.json
  apps/frontend/src/dashboard/DashBoard.vue
  apps/frontend/src/plugins/socket.ts
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

fix(api): remove unused decorators code
  apps/api/src/guards/DashboardAccess.guard.ts
  apps/api/src/guards/jwtws.guard.ts
Due: publish-api

fix(frontend): remove import of socket
  apps/frontend/src/main.ts
Due: none

fix(frontend): use right endpoint for mod status
  apps/frontend/src/dashboard/DashBoard.vue
Due: none

fix(api): import TwitchApiService provider
  apps/api/src/v1/bot/bot.module.ts
Due: publish-api
